.card
  background-color: #cecece
  box-shadow: 6px 9px 12px #4b4b4b73
  border: 1px solid #4b4b4b73
  width: 40vw
  padding: 20px
  border-radius: 10px
  display: flex
  justify-content: space-between
  
.text
  text-align: center
  
.points


.time


.date